<section class="player-character-info">
  <h1 class="info-field charname">
    <input name="name" type="text" value="{{actor.name}}" />
  </h1>

  <img
    class="profile-img"
    src="{{actor.img}}"
    data-action="editImage"
    data-field="img"
    alt="{{actor.name}}"
  />

  <div class="info-field character-full-name">
    <input
      id="npc-full-name"
      name="system.details.fullNameAndTitle"
      type="text"
      value="{{system.details.fullNameAndTitle}}"
      placeholder="Full Name and Title"
    />
  </div>
</section>
