<header class="sheet-header">
  <div class="profile-img">
    <img src="{{actor.img}}" data-action="editImage" data-field="img" alt="{{actor.name}}" />
  </div>
  <div class="header-fields">
    <h1 class="charname">
      <input name="name" type="text" value="{{actor.name}}" />
    </h1>
  </div>
</header>
