<section class="sheet-notes">
  <header>
    <h2>Notes</h2>
  </header>
  {{editor enrichedNotes
    target="system.details.notes"
    button=true
    editable=editable
    engine="prosemirror"
  }}
</section>
