<section class="item-panel {{#if isSpellType}}is-hidden{{/if}}">
  <h2>Forms</h2>
  <ol class="reference-entries">
    {{#each references.forms as |reference|}}
      <li class="reference-row">
        <span class="reference-label">{{reference.label}}</span>
        <button type="button" data-action="removeFormReference" data-index="{{reference.index}}">Entfernen</button>
      </li>
    {{/each}}
    {{#unless references.forms.length}}
      <li class="reference-row reference-row--empty">Keine Referenzen hinterlegt</li>
    {{/unless}}
  </ol>

  <div class="reference-controls__inputs">
    <select
      id="forms-reference-select"
      name="formsRef"
      data-reference-select="forms"
    >
      {{#each referenceOptions.forms as |option|}}
        <option value="{{option.value}}">{{option.label}}</option>
      {{/each}}
    </select>

    <button
      type="button"
      data-action="addFormReference"
      data-select-field="formsRef"
      data-ref-path="system.forms.ref"
    >
      Hinzufügen
    </button>
  </div>
</section>
