/*‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾*\
| --   CHAT OUTPUT   -- |
\*____________________*/

.triskel-chat-output__grid {
  display: grid;
  gap: 0;
}

.triskel-chat-output__action {
  margin: 2px;
}
.triskel-chat-output__row {
  padding: 0.5rem 0
}
.triskel-chat-output__row + .triskel-chat-output__row {
  border-top: 1px solid var(--color-border-light-primary, #ccc);
}

.triskel-chat-output__header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.triskel-chat-output__image {
  width: 3rem;
  height: 3rem;
  flex: 0 0 auto;
}

.triskel-chat-output__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
}

.triskel-chat-output__title {
  font-family: "modesto Condensed";
  margin: 0;
  font-size: 1.4rem;
}

.triskel-chat-output__subtitle {
  margin: 0;
  color: var(--color-text-light, #7a7a7a);
}
