.triskel-graphic {
  display: flex;
  align-items: center;
  justify-content: center;
}

.triskel-svg {
  width: 240px;
  height: 240px;
}

.triskel-svg .segment {
  fill: none;
  stroke-width: 2px;
  stroke: var(--color-border-light-2, #888);
  opacity: 0.3;
}

.triskel-svg .segment.filled {
  opacity: 1;
}

.triskel-svg .arm-power .segment.filled {
  stroke: #d9534f;
}

.triskel-svg .arm-grace .segment.filled {
  stroke: #5bc0de;
}

.triskel-svg .arm-will .segment.filled {
  stroke: #5cb85c;
}

