.triskel {
  /* UI text & surfaces */
  --triskel-color-text-strong: #111111;
  --triskel-color-text-inverse: #ffffff;
  --triskel-color-text-muted: #7a7a7a;
  --triskel-color-surface-muted: #EAE3D4;
  --triskel-color-border-muted: #C9B68F;
  --triskel-color-border-subtle: rgba(0, 0, 0, 0.2);
  --triskel-color-neutral-dark: #000000;
  --triskel-color-accent-primary: #5f6a54;
  --triskel-color-accent-secondary: #2b2c1e;
  --triskel-color-accent-danger: #81231e;

  /* Interaction states */
  --triskel-color-interactive-background: #0f141b;
  --triskel-color-interactive-background-alt: color-mix(
    in srgb,
    var(--triskel-color-interactive-background) 85%,
    var(--triskel-color-text-inverse) 15%
  );

  /* Highlights */
  --triskel-color-highlight-default: #cab891;
  --triskel-color-highlight-obstacle: #f2a11b;
  --triskel-color-highlight-threat: #a0191d;
  --triskel-color-highlight-power: #d9534f;
  --triskel-color-highlight-grace: #5cb85c;
  --triskel-color-highlight-will: #5bc0de;
  --triskel-color-highlight-hp: #ffd15c;
  --triskel-color-highlight-wounds: #7a1f1f;
  --triskel-color-highlight-tension: #ffd15c;
  --triskel-color-highlight-strain: #a00000;

  /* Bar segments */
  --triskel-color-barsegment-empty: #4a4a4a;
}

.triskel input {
  text-align: center;
}

.triskel img {
  max-width: 100%;
  max-height: 100%;
  border: 1px solid var(--triskel-color-border-subtle);
  border-radius: 10%;
  object-fit: cover;
}

.triskel.sheet input[type="number"] {
  color: var(--triskel-color-text-strong);
  background: var(--triskel-color-surface-muted);
  border: 1px solid var(--triskel-color-border-muted);
  border-radius: 999px;
  font-weight: 700;
  height: 1.3em;
}

.triskel .is-hidden {
  display: none !important;
}

.triskel .is-interactive {
  cursor: pointer;
}

.triskel .is-interactive:hover {
  outline: 1px solid var(--triskel-color-highlight-default);
  outline-offset: 1px;
  z-index: +10;
}

.triskel .is-selected {
  border: 1px solid var(--triskel-color-highlight-default) !important;
}

.has-conflict {
  background: var(--triskel-color-accent-danger) !important;
}
